<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PerfSuite.EnableCPUPerfPart" value="true"/>
    <add key="PerfSuite.EnableProcPerfPart" value="true"/>
    <add key="PerfSuite.EnableFileRWPerfPart" value="true"/>
    <add key="PerfSuite.EnablePingPerfPart" value="true"/>
    <add key="PerfSuite.EnableSerialEchoPerfPart" value="false"/>
    <add key="PerfSuite.EnablePerformanceCounterParts" value="true"/>
    <add key="PerfSuite.EnableNetIfacePerfPart" value="true"/>
    <add key="PerfSuite.Ping.PingTargetArray" value="localhost"/>
    <!--
    <add key="PerfSuite.MDRFFiles.NominalMaxFileSize" value="500000"/>
    <add key="PerfSuite.MDRFFiles.FileAgeLimit" value="00:15:00"/>
    <add key="PerfSuite.CPU.ProcessorAffinityMask" value="1"/>
    <add key="PerfSuite.SerialEcho.PortTargetSpecArray" value="&lt;UdpClient addr='127.0.0.1' port='7'/&gt;"/>
    -->
  </appSettings>
</configuration>
