<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PerfSuite.Ping.PingTargetArray" value="localhost"/>
    <add key="PerfSuite.EnableCPUPerfPart" value="true"/>
    <add key="PerfSuite.EnableProcPerfPart" value="true"/>
    <add key="PerfSuite.EnableFileRWPerfPart" value="true"/>
    <add key="PerfSuite.EnablePingPerfPart" value="true"/>
    <add key="PerfSuite.EnablePerformanceCounterParts" value="true"/>
    <add key="PerfSuite.EnableNetIfacePerfPart" value="true"/>
  </appSettings>
</configuration>
