<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Config.HostCycle.HostName" value="localhost"/>
    <add key="Config.HostCycle.PortNum" value="5000"/>
    <add key="Config.HostCycle.DeviceID" value="32767"/>
    <add key="Config.HostCycle.HeaderTraceMesgType" value="Debug"/>
    <add key="Config.HostCycle.MesgTraceMesgType" value="Debug"/>
    <add key="Config.HostCycle.HighRateMesgTraceMesgType" value="Trace"/>

    <add key="Config.Logging.FileRing.LogGate" value="Debug"/>
    <add key="Config.Logging.FileRing.DirectoryPath" value="/dev/ProjState/HostCycle/Logs/"/>
    <add key="Config.Logging.FileRing.MaxFilesToKeep" value="30"/>
    <add key="Config.Logging.FileRing.MaxFileAgeToKeepInDays" value="0"/>
    <add key="Config.Logging.FileRing.MaxTotalSizeToKeep" value="0"/>
    <add key="Config.Logging.FileRing.AdvanceAfterFileReachesSize" value="10240000"/>
    <add key="Config.Logging.FileRing.AdvanceAfterFileReachesAgeInDays" value="1.0"/>

    <add key="Config.Logging.TraceRing.LogGate" value="All"/>
    <add key="Config.Logging.TraceRing.DirectoryPath" value="/dev/ProjState/HostCycle/Trace/"/>
    <add key="Config.Logging.TraceRing.MaxFilesToKeep" value="50"/>
    <add key="Config.Logging.TraceRing.MaxFileAgeToKeepInDays" value="0"/>
    <add key="Config.Logging.TraceRing.MaxTotalSizeToKeep" value="0"/>
    <add key="Config.Logging.TraceRing.AdvanceAfterFileReachesSize" value="10240000"/>
    <add key="Config.Logging.TraceRing.AdvanceAfterFileReachesAgeInDays" value="0"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
