<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="Config.Logging.DiagnosticTrace" value="Disabled,IncludeAlways,IncludeWhenDebuggerAttached,NonQueued"/>-->
    <add key="Config.Logging.DiagnosticTrace" value="IncludeWhenDebuggerAttached"/>
    <add key="Config.Logging.Set.Capacity" value="1000"/>
    <add key="Config.Logging.Set.LogGate" value="Debug"/>
    <!--<add key="Config.Logging.TraceRing.AdvanceAfterFileReachesSize" value="100000"/>
    <add key="Config.Logging.TraceRing.AdvanceAfterFileReachesAgeInDays" value="0.001"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
